body {
  width: 100vh;
  height: 100vh;
  background-image: url('https://source.unsplash.com/random/?sky');
  background-size: cover;
  background-repeat: no-repeat;
}

.div-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 600px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.div-container-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 450px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.divider {
  width: 10%;
  height:1px;
  background-color: rgb(230, 230, 230);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
}

.passwd-notice {
  width: 100%;
}

#login-header{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

#small-title {
  font-size: 1.3rem;
  font-weight: normal;
  color: rgb(150,150,150);
}

#update {
  width: 100%;
  margin-bottom: 1rem;
}

.header-button {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.header-button:hover {
  color: black;
  text-decoration: none;
}

#header {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

#div-login {
  width: 100%;
  max-width: 500px;
}

.forget-password {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

.smallbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  margin-bottom: 0.5rem;
  color: rgb(53, 53, 53);
}

.smallbutton:hover {
  background-color: rgb(240, 240, 240);
  color: rgb(53, 53, 53);
  text-decoration: none;
}

.logout-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: rgb(235, 41, 41);
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: 600;
}

.logout-button:hover {
  background-color: rgb(216, 39, 39);
}

.github-link {
  text-align: center;
  font-size: 0.7rem;
  color: gray;
}

.github {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

#github-icon {
  width: 0.75rem;
  margin-right: 5px;
}

.a-wheel {
  display: none;
}
