<!DOCTYPE html>
<html>
  <head>
    <title>SPARCS Web Edalias</title>
    <link rel="stylesheet" href="/stylesheets/default.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/scripts/delete.js"></script>
    <script src="/scripts/session.js"></script>
  </head>

  <body>
    <div class="div-container">
      <% include ./header.html %>

      <div id="div-create">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Username</span>
          </div>
          <input id="un" type="text" class="form-control" placeholder="old.sparcs.org username" aria-label="un" aria-describedby="basic-addon1">
        </div>

        <p style="display:inline">Type "</p>
        <h5 id="hcf" style="display:inline"></h5>
        <p style="display:inline">" in the following textbox.</p>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Confirm</span>
          </div>
          <input id="cf" type="text" class="form-control" placeholder="confirm message" aria-label="un" aria-describedby="basic-addon1">
        </div>

        <button id="delete" type="button" class="btn btn-primary btn-lg btn-block">Delete</button>
      </div>
    </div>

    <% include ./modal.html %>
  </body>
</html> 

