<!DOCTYPE html>
<html>
  <head>
    <title>Members</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/scripts/login.js"></script>
    <link rel="stylesheet" href="/stylesheets/default.css" type="text/css">
  </head>

  <body>
    <div class="div-container-login">
      <div id="login-header">
        Members <span id="small-title">by SPARCS</span>
      </div>
      <div class="input-group mb-3">
        <input id="un" type="text" class="form-control" placeholder="아이디" aria-label="id" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input id="pw" type="password" class="form-control" placeholder="비밀번호" aria-label="pw" aria-describedby="basic-addon2">
      </div>

      <button id="login" type="button" class="btn btn-primary btn-lg btn-block">로그인</button>
      <div class="forget-password">
        <p style="display:inline">비밀번호를 잊어버렸나요?</p>
        <a id="reset" href="/reset">비밀번호 재설정하기</a>
      </div>
    </div>

    <% include ./modal.html %>
  </body>
</html> 
