<!DOCTYPE html>
<html>
  <head>
    <title>Members</title>
    <link rel="stylesheet" href="/stylesheets/default.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/scripts/main.js"></script>
  </head>

  <body>
    <div class="div-container">
      <% include ./header.html %>
      <a href="/passwd" class="smallbutton">비밀번호 변경</a>
      <a href="/mkml" id="new" class="smallbutton">메일링 리스트 생성</a>
      <a href="/forward" id="fwd" class="smallbutton a-non-wheel">메일 포워딩 설정</a>
      <a href="/edalias" id="edit" class="smallbutton a-non-wheel">Alias 편집</a>
      <a href="/nugu" id="nugu" class="smallbutton a-non-wheel">Nugu 편집</a>
      <a href="/nugus" id="nugus" class="smallbutton">Nugu 검색</a>
      <a href="/wheel/add" id="edit" class="smallbutton a-wheel">회원 추가</a>
      <a href="/wheel/delete" id="edit" class="smallbutton a-wheel">회원 삭제</a>
      <div class="divider"></div>
      <% include ./logout.html %>
    </div>
  </body>
</html> 
