<!DOCTYPE html>
<html>
  <head>
    <title>SPARCS Web Edalias</title>
    <link rel="stylesheet" href="/stylesheets/default.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/scripts/reset0.js"></script>
  </head>

  <body>
    <div class="div-container">
      <% include ./header.html %>
      <p>Ensure that your SPARCS email ([uid]@sparcs.org) is safe.</p>
      <p>A password reset link will be sent to your SPARCS email.</p>
      <p>If you did not configure your SPARCS email correctly, then contact to SPARCS Wheel (wheel@sparcs.org).</p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Username</span>
        </div>
        <input id="un-reset" type="text" class="form-control" placeholder="old.sparcs.org username" aria-label="id" aria-describedby="basic-addon1">
      </div>
      <button id="resetpass" type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 1rem">Reset</button>
    </div>

    <% include ./modal.html %>
  </body>
</html> 
