<!DOCTYPE html>
<html>
  <head>
    <title>SPARCS Web Edalias</title>
    <link rel="stylesheet" href="/stylesheets/default.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/scripts/reset.js"></script>
  </head>

  <body>
    <div class="div-container">
      <div id="div-passwd">
        <div class="passwd-notice">
          <p>비밀번호는 최소 8글자 이상이어야 합니다.</p>
          <p>비밀번호는 아이디를 포함하지 않아야 합니다.</p>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">New Password</span>
          </div>
          <input id="npass" type="password" class="form-control" placeholder="new old.sparcs.org password" aria-label="id" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">Confirm Password</span>
          </div>
          <input id="cpass" type="password" class="form-control" placeholder="confirm new old.sparcs.org password" aria-label="pw" aria-describedby="basic-addon2">
        </div>

        <button id="change" type="button" class="btn btn-primary btn-lg btn-block">Change</button>
      </div>
    </div>

    <% include ./modal.html %>
  </body>
</html> 
